In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv(r"C:/Users/SAI RAM/Desktop/ML things/Data Files/2. ST Academy - Classification models resource files/House-Price.csv")

In [3]:
df = pd.get_dummies(df)

In [32]:
df

,price,resid_area,air_qual,room_num,age,dist1,dist2,dist3,dist4,teachers,...,rainfall,parks,Sold,airport_NO,airport_YES,waterbody_Lake,waterbody_Lake and River,waterbody_None,waterbody_River,bus_ter_YES
0,24.0,32.31,0.538,6.575,65.2,4.35,3.81,4.18,4.01,24.7,...,23,0.049347,0,0,1,0,0,0,1,1
1,21.6,37.07,0.469,6.421,78.9,4.99,4.70,5.12,5.06,22.2,...,42,0.046146,1,1,0,1,0,0,0,1
2,34.7,37.07,0.469,7.185,61.1,5.03,4.86,5.01,4.97,22.2,...,38,0.045764,0,1,0,0,0,1,0,1
3,33.4,32.18,0.458,6.998,45.8,6.21,5.93,6.16,5.96,21.3,...,45,0.047151,0,0,1,1,0,0,0,1
4,36.2,32.18,0.458,7.147,54.2,6.16,5.86,6.37,5.86,21.3,...,55,0.039474,0,1,0,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,22.4,41.93,0.573,6.593,69.1,2.64,2.45,2.76,2.06,19.0,...,27,0.056006,1,1,0,0,1,0,0,1
502,20.6,41.93,0.573,6.120,76.7,2.44,2.11,2.46,2.14,19.0,...,20,0.059903,1,0,1,0,1,0,0,1
503,23.9,41.93,0.573,6.976,91.0,2.34,2.06,2.29,1.98,19.0,...,31,0.057572,1,1,0,0,0,1,0,1
504,22.0,41.93,0.573,6.794,89.3,2.54,2.31,2.40,2.31,19.0,...,47,0.060694,1,0,1,0,0,1,0,1
505,19.0,41.93,0.573,6.030,80.8,2.72,2.24,2.64,2.42,19.0,...,45,0.060336,1,0,1,0,0,1,0,1

In [38]:
df = df.fillna(df.mean())

In [39]:
x = df.drop(['Sold'], axis = 1)
y = df["Sold"]
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size = 0.2,random_state = 0)

In [40]:
from sklearn import preprocessing                          #for converting the larger calues into smaller values
scalar = preprocessing.StandardScaler().fit(x_train)
x_train_s = scalar.transform(x_train)

In [41]:
scalar = preprocessing.StandardScaler().fit(x_test)
x_test_s = scalar.transform(x_test)

In [42]:
from sklearn.neighbors import KNeighborsClassifier
clf_knn = KNeighborsClassifier()
clf_knn.fit(x_train_s, y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                     weights='uniform')

In [45]:
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score
confusion_matrix(y_test, clf_knn.predict(x_test_s))

array([[32, 26],
       [23, 21]], dtype=int64)

In [47]:
accuracy_score(y_test, clf_knn.predict(x_test_s))

0.5196078431372549

### Taking n number of k in a single list for getting more accuracy

In [48]:
from sklearn.model_selection import GridSearchCV

In [50]:
params = {'n_neighbors' : [1,2,3,4,5,6,7,8,9,10]}
grid_search_cv = GridSearchCV(KNeighborsClassifier(), params)

In [51]:
grid_search_cv.fit(x_train_s, y_train)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:1978: FutureWarning: The default value of cv will change from 3 to 5 in version 0.22. Specify it explicitly to silence this warning.
  warnings.warn(CV_WARNING, FutureWarning)

GridSearchCV(cv='warn', error_score='raise-deprecating',
             estimator=KNeighborsClassifier(algorithm='auto', leaf_size=30,
                                            metric='minkowski',
                                            metric_params=None, n_jobs=None,
                                            n_neighbors=5, p=2,
                                            weights='uniform'),
             iid='warn', n_jobs=None,
             param_grid={'n_neighbors': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring=None, verbose=0)

In [52]:
grid_search_cv.best_params_

{'n_neighbors': 9}

In [53]:
optimized_knn = grid_search_cv.best_estimator_

In [54]:
y_test_pred = optimized_knn.predict(x_test_s)

In [55]:
confusion_matrix(y_test,y_test_pred)

array([[30, 28],
       [20, 24]], dtype=int64)

In [56]:
accuracy_score(y_test,y_test_pred)

0.5294117647058824